.container{
    background-image: linear-gradient(rgb(137, 137, 243),rgb(236, 137, 137),rgb(230, 200, 200));
    height: 600px;
} 
.head{
    text-align: center;
}
.form{
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: x-large;
}
.box{
    text-align: center;
    border: 2px solid black;
    display: inline;
    display: flex;
    background-color: darkmagenta ;
    padding: 20px;
    width: 200px;
    align-items: center;
    margin-left: 500px;
}